<br />

<h1><%= @app_name %> has had an error :(</h1>

<br />
<br />
<br />

<div style="width: 360px; border: 1px dotted #333; padding: 5px; margin: 0px auto;">

<p style="padding-left: 40px"><%= @error %></p>

</div>
