<br />

<h1>Welcome to <%= @app_name %></h1>

<br />
<br />
<br />

<div style="width: 360px; border: 1px dotted #333; padding: 5px; margin: 0px auto;">
  <form action='/create' method='post'>
    <div class="row">
      <span class="label">Company:</span><span class="formw"><input name='company' type="text" size="25" /></span>
    </div>
    <div class="row">
      <span class="label">Name:</span><span class="formw"><input name='name' type="text" size="25" /></span>
    </div>
    <div class="row">
      <span class="label">Email:</span><span class="formw"><input name='email' type="text" size="25" /></span>
    </div>
    <div class="row">
      <input type='submit' name='submit' value='Add new user' />
      <input type='hidden' name='referer' value='<%= request.env["HTTP_REFERER"] %>'>
    </div>
  <div class="spacer">
  &nbsp;
  </div>
 </form>

</div>
